 <article class="p-0 col-6  mb-2" id="resEvoluciones">
                <div class="card-header bg-austral ">
                    <h4 class="mb-0">EVOLUCIONES</h4>
                </div>
                <section class="d-flex gap-2 p-2"id="resEpisodios">
                    <div class="col-4" >
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="Buscar evolución...">
                            <button class="btn btn-primary" type="button"><i
                                    class="fa fa-magnifying-glass me-2"></i>Buscar</button>
                        </div>
                        <ol class="list-group list-group-numbered gap-1" id="listaEvoluciones">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-start bg-danger-subtle">
                                <div class="ms-2  w-100">
                                    <div class="fw-bold">FRACTURA TOBILLO <span
                                            class="badge text-bg-warning rounded-pill">Activo</span></div>
                                    <p class="mb-0"><i class="fa fa-user-doctor me-2"></i>Última atención: <strong> Dr.
                                            Juan
                                            Pérez</strong></p>
                                    <p>Descripción: Detalles de atención médica o lo que se defina</p>
                                    <span class="float-end me-0">Ingreso: 08/08/2025</span>
                                </div>
                                <span class="badge text-bg-danger rounded-pill">14</span>
                            </li>

                            <li
                                class="list-group-item d-flex justify-content-between align-items-start bg-danger-subtle">
                                <div class="ms-2  w-100">
                                    <div class="fw-bold">APNEA SEVERA <span
                                            class="badge text-bg-secondary rounded-pill">Finalizado</span></div>
                                    <p class="mb-0"><i class="fa fa-user-doctor me-2"></i>Última atención: <strong> Dr.
                                            Pablo Bizzotto</strong></p>
                                    <p>Descripción: Detalles de atención médica o lo que se defina</p>
                                    <span class="float-end me-0">Ingreso: 03/05/2025 | Egreso: 08/05/2025</span>
                                </div>
                                <span class="badge text-bg-danger rounded-pill">5</span>
                            </li>

                            <li
                                class="list-group-item d-flex justify-content-between align-items-start bg-primary-subtle">
                                <div class="ms-2  w-100">
                                    <div class="fw-bold">CLINICA MÉDICA <span
                                            class="badge text-bg-secondary rounded-pill">Finalizado</span></div>
                                    <p class="mb-0"><i class="fa fa-user-doctor me-2"></i>Última atención: <strong> Dr.
                                            Magdalena Princz</strong></p>
                                    <p>Descripción: Detalles de atención médica o lo que se defina</p>
                                    <span class="float-end me-0">Ingreso: 12/03/2025 | Egreso: 12/03/2025</span>
                                </div>
                                <span class="badge text-bg-danger rounded-pill">1</span>
                            </li>
                        </ol>
                    </div>
                    <div class="col p-2" id="visualizadorEpisodio">
                        <h3>#1 - Fractura de Tobillo</h3>
                        <p>Descripción del motivo de ingreso del paciente.</p>
                        <h5>Profesional:<b class="me-2"> Princz, Magdalena</b><span>Fecha de ingreso: <b>01/01/2025</b></span></h5>
                    </div>
                </section>

            </article>