  <article class="cadrd p-0 col-md-4 mb-2" id="resAntecedentes">
                <div class="card-header bg-austral ">
                    <h4 class="mb-0">ANTECEDENTES</h4>
                </div>
                <section class="flex-wrap d-flex" id="resEpisodios">
                    <article class="card shadow-sm p-3 mb-4 w-100">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="text-muted small">
                                <i class="fas fa-calendar-alt me-1"></i> 21/07/2025
                            </div>
                            <div class="text-muted small">
                                <i class="fas fa-user-md me-1"></i> Dr. Pablo Bizzotto
                            </div>
                        </div>

                        <div class="mb-2">
                            <div class="text-secondary small fw-semibold">Motivo de consulta</div>
                            <div class="fw-semibold">Dolor en el pecho</div>
                        </div>

                        <div class="mb-2">
                            <div class="text-secondary small fw-semibold">Mensaje</div>
                            <div>EKG y análisis de sangre han sido realizados. LDL en 110, indicando colesterol elevado.
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="text-secondary small fw-semibold">Acción tomada</div>
                            <div> Dosaje incrementado de estatinas de 10 mg a 20 mg. Cita de seguimiento programada en 4
                                semanas.</div>
                        </div>

                        <a href="#" class="float-end text-primary fw-semibold small text-decoration-none">Ver detalles
                        </a>
                    </article>
                    <article class="card shadow-sm p-3 w-100">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="text-muted small">
                                <i class="fas fa-calendar-alt me-1"></i> 04/21/2024
                            </div>
                            <div class="text-muted small">
                                <i class="fas fa-user-md me-1"></i> Dr. Pablo Bizzotto
                            </div>
                        </div>

                        <div class="mb-2">
                            <div class="text-secondary small fw-semibold">Motivo de consulta</div>
                            <div class="fw-semibold">Dolor de cabeza crónico</div>
                        </div>

                        <div class="mb-2">
                            <div class="text-secondary small fw-semibold">Mensaje</div>
                            <div>Tomografía realizada. Resultados pendientes.
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="text-secondary small fw-semibold">Acción tomada</div>
                            <div> Se administró analgésico y se programó seguimiento en 4 semanas. Recomendación de
                                evitar el estrés y mantener un diario de síntomas.</div>
                        </div>

                        <a href="#" class="float-end text-primary fw-semibold small text-decoration-none">Ver detalles
                        </a>
                    </article>

                </section>
            </article>