  <article class="carsd p-0 col-6 mb-2" id="resEstudios">
                <div class="card-header bg-austral ">
                    <h4 class="mb-0">ESTUDIOS</h4>
                </div>
                <div class="flex-wrap d-flex" id="resEstudios">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Descripción</th>
                                <th>Profesional</th>
                                <th>Estado</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01/01/2025</td>
                                <td>Radiografía</td>
                                <td>Radiografía de tórax</td>
                                <td>Dr. Landa Diego</td>
                                <td><span class="badge text-bg-success">Realizado</span></td>
                                <td><button class="btn btn-secondary p-2"><i class="fa fa-eye"></i></button></td>
                            </tr>
                            <tr>
                                <td>15/02/2025</td>
                                <td>Resonancia Magnética</td>
                                <td>Resonancia de rodilla</td>
                                <td>Dr. Chaza Reta</td>
                                <td><span class="badge text-bg-warning">En Proceso</span></td>
                                <td><button class="btn btn-secondary p-2"><i class="fa fa-eye"></i></button></td>
                            </tr>
                            <tr>
                                <td>20/03/2025</td>
                                <td>Tomografía Computarizada</td>
                                <td>Tomografía abdominal</td>
                                <td>Dr. Calvo Damián</td>
                                <td><span class="badge text-bg-danger">Cancelado</span></td>
                                <td><button class="btn btn-secondary p-2"><i class="fa fa-eye"></i></button></td>
                            </tr>
                            <tr>
                                <td>25/04/2025</td>
                                <td>Ultrasonido</td>
                                <td>Ultrasonido abdominal</td>
                                <td>Dr. Landa Diego</td>
                                <td><span class="badge text-bg-warning">Programado</span></td>
                                <td><button class="btn btn-secondary p-2"><i class="fa fa-eye"></i></button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </article>